name: Lambda
on:
  push:
    branches:
      - master
  pull_request: 
    types: [opened, synchronize, reopened]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      # Checkout the pull request branch
      - name: Checkout code
        uses: actions/checkout@v2

      # Rebuild README
      - name: Prepare
        shell: bash
        run: |
           set -ex
           make init
           make terraform/install
           make terraform/get-plugins
           make terraform/get-modules
           make terraform/lint
           make terraform/validate

      - name: Build
        run: make build

      - name: Deploy
        run: aws s3 cp --acl public-read artifacts/lambda.zip s3://artifacts.prod.cloudposse.org/${{ github.event.repository.name }}/${{ github.sha }}/lambda.zip
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

      - name: Test Download from CDN
        run: curl -fsSL -o /dev/null https://artifacts.cloudposse.com/${{ github.event.repository.name }}/${{ github.sha }}/lambda.zip
